*{
    margin:0px;padding:0px
}



.container{
    margin: auto;
    width:50%;
    height:auto;
    margin-top:100px;
    background-color: rgb(24, 14, 34);
    border-radius: 20px;
    overflow: hidden;
}
.header{
    padding:10px 20px
}


span{
    color: rgb(107, 2, 90);
}

h1{
    font-size: 20px;
    text-align: center;
    color:white;
    padding:20px 0px
}
p{
    color: white;text-align: center;
}

form{
    padding: 20px 20px;
    background-color:rgb(24, 14, 34) ;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 20px

}
.inputcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:20px
}
input{
    height:30px;width:250px;
    border: none;
    outline: none;
    font-size: 17px;
    padding:15px 10px;
}
.button{

}

button{
    width:200px;
    padding:7px 10px;
    background-color: rgb(107, 2, 90);
    color: white;
    border: 1px solid black;
}
button:hover{
    background-color: rgb(105, 21, 21);
    transition: all 0.6s;
}

#reply{padding:10px 0px;text-align: center;
    color:orange
}


@media(min-width:1600px){
    body{
        background-color: red;
    }

}

@media(max-width:1599px){
    body{
        background-color: orange;
    }
    form{
        display: block;
        padding: 0px;
    }
    .inputcontainer{
        padding:10px 20px
    }
    input{
        width:100%
    }
    button{
        width:100%
    }
    .button{
        padding:20px 20px
    }
    #reply{
        padding:10px 0px;
    }
}
@media(max-width:800px){
    body{
        background-color: pink;
    }
    .container{
        width:80%
    }
    .inputcontainer{
        display:block

    }
    input{
        margin-top:20px
    }
}

