body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-1 {
  height: auto;
  background: url(../images/banner-bg.jpg);
  background-repeat: repeat;
  background-position: top;
  background-size: contain;
}

.section-1 .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 20px 0px;
}

.section-1 .header .link {
  color: white;
  text-align: right;
}

.section-1 .header .link a {
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 18px;
}

.section-1 .header .link a:hover {
  font-size: 20px;
}

.section-1 .form-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.section-1 input {
  margin-bottom: 20px;
  padding: 0px 10px;
  width: 100%;
}

.section-2 {
  background-color: white;
  padding: 20px 0px;
}

.section-2div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  background-color: red;
  height: 60vh;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
}

.section-2div .section-2divbox {
  background-color: #f5e5e8;
  height: 50vh;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2div .section-2divbox img {
  background-color: white;
}

.section-2div .section-2divbox:hover {
  background-color: #9E6222;
}

.section-2div .section-2divbox:hover .circular-text {
  color: white;
}

.section-2div .section-2divbox:hover .circular-text p {
  color: white;
}

.section-2div .circular {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2div .circular .image {
  width: 50%;
  margin: auto;
  padding: 0px 10px;
}

.section-2div .circular-text {
  color: #9E6222;
  text-align: center;
  padding: 20px 0px;
}

.section-2div .circular-text p {
  color: #484644;
  font-size: 14px;
}

.section-2div .circular-text h3 {
  font-size: 28px;
}

.section-2div .section-2divbox {
  padding: 0px 20px;
}

.section-3 {
  background-color: #f5e5e8;
}

.section-3div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.section-3div .section-3divbox2 {
  padding-top: 90px;
  line-height: 21px;
  font-size: 14px;
}

.section-3div .section-3divbox2 h3 {
  font-size: 35px;
  line-height: 32px;
  color: #9E6222;
}

.section-3div .section-3divbox2 p {
  font-size: 16px;
  line-height: 27.2px;
  color: black;
}

.section-3div .section-3divbox2 .p1 {
  padding-top: 30px;
  padding-bottom: 40px;
}

.section-3div .section-3divbox2 .p2 {
  padding-bottom: 25px;
}

.section-3div .section-3divbox2 .underlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-3div .section-3divbox2 .underlined p {
  color: #9E6222;
}

.section-4 {
  background-color: white;
  padding: 80px 0px;
}

.expert {
  text-align: center;
  padding-bottom: 20px;
}

.expert h2 {
  font: size 40px;
  color: #9E6222;
  line-height: 32px;
}

.section-4box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px 15px;
}

.section-4boxes h4 {
  color: #9E6222;
  font-size: 28px;
  line-height: 33.6px;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 20px;
}

.section-4boxes p {
  font-size: 14px;
  color: black;
  padding-top: 5px;
}

.section-5 {
  background-image: url(../images/appointment.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  height: auto;
  text-align: center;
  padding: 30px 0px;
}

.section-5 h1 {
  font-size: 35px;
  color: white;
  line-height: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 0px;
}

.section-5 p {
  color: white;
  font-size: 16px;
}

.section-5 .b {
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}

.section-5 .sect-5 {
  height: auto;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px;
}

.section-5 .divine {
  padding: 40px 0px;
}

.section-6 {
  padding: 90px 0px;
  background-color: #f5e5e8;
}

.section-6 .section-6div1 {
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  color: #9E6222;
  font-weight: 200;
  padding-bottom: 40px;
}

.section-6 .section-6div2 {
  background-color: #f5e5e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.section-6 .section-6div2 .section-6div21 {
  background-color: white;
}

.section-6 .section-6div2 .section-6div22 {
  background-color: white;
}

.section-6 .section-6div2 .tolu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  padding-bottom: 20px;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

.section-6 .section-6div2 .name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-6 .section-6div2 .name h3 {
  font-size: 25px;
  color: #9E6222;
}

.section-6 .section-6div2 .name h4 {
  font-size: 18px;
  color: black;
}

.section-6 .section-6div2 .section-6div212 {
  padding: 0px 15px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #9E6222;
  padding: 20px 0px;
  color: white;
}

.form {
  width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0px;
  background-color: #18110C;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form h2 {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}

.form p {
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
}

.form label {
  color: #EFEFEE;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: #495057;
  line-height: 24px;
}

.form .form-boxes {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.form button {
  background-color: #d56c00;
  border: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #EFEFEE;
  padding: 10px 0px;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  line-height: 24px;
  font-weight: 600;
  color: white;
}

.form button:hover {
  background-color: #6f3902;
}

.contact-button {
  background-color: #d56c00;
  border: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #EFEFEE;
  padding: 10px 0px;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  line-height: 24px;
  font-weight: 600;
  color: white;
}

.contact-button:hover {
  background-color: #6f3902;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

/*IF THE BOWSER IS 1200PX OR BIGGER*/
@media (max-width: 1150px) {
  .container {
    width: 100%;
    padding: 0px 10px;
  }
  .section-4box {
    padding: 20px 0px;
  }
  .section-4boxes {
    width: 100%;
  }
  .section-4boxes img {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .section-1 {
    height: auto;
    padding: 20px 0px;
  }
  .section-1 .form-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section-1 .form-div img {
    margin: auto;
    width: 40%;
  }
  .section-1 .form-divform {
    float: none;
  }
  .section-1 .form {
    width: 50%;
    float: none;
  }
  .section-2 {
    height: auto;
    padding: 40px 0px;
  }
  .section-2div {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    background-color: red;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 30px;
  }
  .section-2divbox {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0px 10px;
  }
  .section-1 {
    height: auto;
  }
  .section-1 .header {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section-1 .header .link {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .section-1 .form {
    width: 80%;
  }
  .section-1 img {
    display: none;
  }
  .section-1 .form-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0px;
  }
  .section-1 .form-divform {
    margin: auto;
  }
  .section-2 {
    padding: 70px 0px;
  }
  .section-2div {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: auto;
    row-gap: 2rem;
  }
  .section-3div {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section-3div img {
    width: 100%;
  }
  .section-4box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section-4box p, .section-4box h4 {
    text-align: center;
  }
  .section-4box p {
    padding-bottom: 20px;
  }
  .section-4box img {
    width: 100%;
  }
  .section-5 {
    opacity: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .b {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  .section-6 {
    padding: 30px 0px;
  }
  .section-6 .section-6div2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .section-6 .section-6div2 p {
    padding-bottom: 15px;
    line-height: 2rem;
  }
  footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */