@media (max-width:1150px){
    .container{
        width:100%;
        padding:0px 10px
    }
    
    .section-4box{
        padding:20px 0px;}
    .section-4boxes{
        img{
            width:100%
        }
        width:100%
    }
    
    
    
    footer{text-align: center;
        
    }

}
@media (max-width:900px){
    .section-1{height: auto;padding:20px 0px;
        .form-div{
            display: grid;
        grid-template-columns: repeat(1,1fr);
        img{
            margin: auto;
            width:40%
        }
        }
        .form-divform{
            float: none;
        }
        .form{
            width:50%;
            float: none;
        }

    }


    .section-2{
        height: auto;
        padding:40px 0px
    }
    .section-2div{
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
        background-color: red;
        background-color: $color1;
        
        align-items: center;
        padding:0px 30px;}
    .section-2divbox{
        width:100%
    }
    footer{
        
    }

}
