.section-5{background-image: url(../images/appointment.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height:auto;
    text-align: center;
    padding:30px 0px;
    h1{
        font-size: 35px;
        color: $color1;
        line-height: 32px;   
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        ;padding: 10px 0px;
        
    }
    p{
        color: $color1;
        font-size: 16px;
        
    }
   
    .b{
        width:50%;margin: auto;
        padding-bottom: 30px;
    }
    .sect-5{
       height: auto;
        width:70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:30px 0px

    }
    .divine{
       padding: 40px 0px;
    }

}
