.section-2 {
  background-color: white;
  padding: 20px 0px;
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 20px 0;
    .service {
      background-color: $color6;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      transition: 1s;
      max-width: 18rem;
      img {
        background-color: $color1;
      }
      &:hover {
        background-color: $color7;
        .circular-text {
          color: $color1;
          p {
            color: $color1;
          }
        }
      }
    }
    .circular {
      height: 125px;
      width: 125px;
      border-radius: 50%;
      background-color: $color1;
      display: flex;
      .image {
        width: 50%;
        margin: auto;
        padding: 0px 10px;
      }
    }
    .circular-text {
      color: $color7;
      text-align: center;
      padding: 20px 0px;
      p {
        color: #484644;
        font-size: 14px;
      }
      h3 {
        font-size: 28px;
      }
    }
  }
}
