header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  background-color: var(--body-color);
}
header .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
header .button-container .add-note {
  justify-self: right;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  width: 120px;
  font-size: 15px;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
}
header .button-container .add-note:hover {
  background-color: var(--primary-hover-color);
  transition: 35s ease-in;
}
header .button-container .add-note p {
  color: white;
}
header .button-container .add-note span {
  padding-right: 10px;
  font-size: 20px;
  font-weight: bolder;
}