@import url(./add-note.css);
@import url(./notes.css);
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: rgb(36, 180, 36);
  --primary-hover-color: rgba(36, 180, 36, 0.8);
  --body-color: #96f8f8;
}

body {
  background-color: var(--body-color);
}

button {
  border: none;
  outline: none;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}